@charset "utf-8";

/*顶部*/

.topbar {
	height: 39px;
	background: #FAFAFA;
	border-bottom: 1px solid #E6E6E6;
}

.topbar-left {
	color: #999;
	font-size: 12px;
	padding: 11px 0;
}

.topbar-left span {
	color: #999;
	font-size: 16px;
	margin-right: 10px;
	vertical-align: top;
	line-height: 18px;
}

.topbar-right>ul {
	font-size: 0;
}

.topbar-right li {
	position: relative;
	display: inline-block;
}

.topbar-right li>a {
	display: inline-block;
	font-size: 12px;
	color: #999;
	padding: 12px 22px;
}

.topbar-right li:last-child>a {
	padding-right: 0;
}

.topbar-right li>span {
	color: #e6e6e6;
}

.topbar-right li .top-ico-arrows {
	position: absolute;
	top: 11px;
	right: 10px;
	display: block;
	width: 15px;
	height: 15px;
	background: url(../img/top_ico_arrows.png) no-repeat;
	transition: background-position .5s;
}


/*我的资产*/

.myAssets>a {
	border-left: 1px solid #fafafa;
	border-right: 1px solid #fafafa;
}

.myAssets:hover .top-ico-arrows {
	background-position: 0 -20px;
}

.myAssets.active>a {
	border-left: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
	background-color: #fff;
}


/*我的资产下拉信息框*/

.userInfo {
	display: none;
	position: absolute;
	top: 39px;
	left: 0;
	width: 175px;
	border: 1px solid #e6e6e6;
	border-top: none;
	background-color: #fff;
	padding: 12px 16px 0;
	box-sizing: border-box;
	z-index: 999;
}

.userInfo-head {
	padding: 12px 0;
	border-bottom: 1px solid #e6e6e6;
}

.head-info {
	padding-left: 15px;
}

.head-info h4 {
	font-size: 14px;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.head-info a {
	color: #e8373d;
	font-size: 12px;
}

.head-info p {
	font-size: 12px;
	color: #999;
}

.head-list {
	padding: 12px 0;
}

.head-list a {
	display: block;
	color: #666;
	font-size: 14px;
	padding: 6px;
}

.head-list a:hover {
	background-color: #e6e6e6;
}

.topbar-right li .top-ico-phone {
	position: absolute;
	top: 11px;
	left: 10px;
	display: block;
	width: 18px;
	height: 18px;
	background: url(../img/top_ico_phone.png) no-repeat 0 -1px;
}

.topbar-right li>a.download {
	padding-left: 30px;
}


/*头部header*/

.header {
	height: 90px;
	background: #fff;
}

.header-nav ul {
	font-size: 0;
}

.header-nav li {
	display: inline-block;
}

.header-nav li a {
	line-height: 90px;
	font-size: 16px;
	color: #000;
	font-weight: bold;
	padding: 0 20px;
	transition: color .2s;
}

.header-nav li a:hover,
.header-nav li a.active {
	color: #e8373d;
}

.header-nav li:last-child a {
	padding-right: 0;
}